<div class="row" style="padding-top: 10%;">
    <div id="container" class="d-flex">
        <form (ngSubmit)="search(ticketForm)" #ticketForm="ngForm">
            <div class="mb-3 w-100">
                <label for="ticket" class="form-label">Search Ticket</label>
                <input type="email" class="form-control" ngModel name="ticket" id="ticket" aria-describedby="emailHelp" placeholder="Fill this to Continue...." required>
                <div id="emailHelp" class="form-text w-100">Select the Search criteria from below</div>
            </div>
            <div class="w-100">
              <div class="form-check">
              <input class="form-check-input" ngModel type="radio" name="SearchCriteria" value = "1">
              <label class="form-check-label">
                    Ticket ID
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input"  ngModel name="SearchCriteria"  value= "2" type="radio" required>
                  <label class="form-check-label">
                    Phone Number
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input"  ngModel name="SearchCriteria"  value= "3" type="radio">
                  <label class="form-check-label">
                    Email ID
                  </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;" [disabled]="!ticketForm.valid">Find</button>
        </form>
        <div id="table">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Item No.</th>
                <th scope="col">Amount</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let ticket of ticket">
              <tr>
                <th scope="row">{{ticket.id}}</th>
                <td>{{ticket.name}}</td>
                <td>{{ticket.actualDate}}</td>
                <td>{{ticket.itemIdentification}}</td>
                <td>{{ticket.amount}}</td>
                <td><button class="btn btn_css" (click)="checkStatus(ticket.id!)">View</button></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>